<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-logo">
      <img src="assets/UI Design/logo.png" alt="RunX Logo" class="logo-img">
      <span class="logo-text">RunX</span>
    </a>

    <div class="navbar-links">
      <ul class="navbar-list">
        <li><a routerLink="/" class="navbar-link" [class.active]="router.url === '/'">Home</a></li>
        <li><a routerLink="/home" class="navbar-link" [class.active]="router.url === '/home'">Compiler</a></li>
        <li><a href="#" class="navbar-link">Languages</a></li>
        <li><a href="#" class="navbar-link">About</a></li>
      </ul>
    </div>

    <div class="auth-buttons">
      <button type="button" class="btn-login" *ngIf="!isLoggedIn()">Log in</button>
      <button type="button" class="btn-signup" *ngIf="!isLoggedIn()">Sign up</button>
      <button type="button" class="btn-logout" *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

