<div class="content">
    <h4>Online-Compiler</h4>
    <div class="main-section">
        <div class="code">
            <div>
                <label for="Select Language">Select Language</label>
                <select name="Languages">
                    <option value="C++">C++</option>
                </select>
            </div>
            <textarea name="" class="source-code"></textarea>
        </div>
        <div class="ip-op">
            <div class="ip-box">
                <span>Input</span>
                <textarea name=""></textarea>
            </div>
            <div class="op-box">
                <span>Output</span>
                <textarea name=""></textarea>
            </div>

        </div>
    </div>

</div>